---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import PricingSection from "@components/sections/pricing/PricingSection.astro";
import FAQ from "@components/sections/misc/FAQ.astro";
import AnnouncementBanner from "@components/ui/banners/AnnouncementBanner.astro";
import heroImage from "@images/hero-image.png";
import faqs from "@data/fr/faqs.json";
import features from "@data/fr/features.json";
import pricing from "@data/fr/pricing.json";
import featuresjpg from "@images/features.jpg";
import webdev from "@images/web-dev.jpg";
import payments from "@images/payments.jpg";

const avatarSrcs: Array<string> = [
  "https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1531927557220-a9e23c1e4794?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1541101767792-f9b2b1c4f127?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&&auto=format&fit=facearea&facepad=3&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
];
---

<MainLayout>
  <AnnouncementBanner
    btnId="dismiss-button"
    btnTitle="Suivez notre Instagram"
    url="https://www.instagram.com/dawnweb_en"
  />

  <HeroSection
    title={`Élevez votre présence en ligne avec <span class="text-yellow-500 dark:text-yellow-100">Dawn Web</span>`}
    subTitle="Création de sites web sur mesure & solutions digitales pour la croissance de votre entreprise."
    primaryBtn="Voir nos projets"
    primaryBtnURL="/fr/products"
    secondaryBtn="Contacter l'équipe commerciale"
    secondaryBtnURL="/fr/contact"
    withReview={false}
    avatars={avatarSrcs}
    rating={`<span class="font-bold">4.8</span> / 5`}
    starCount={4}
    reviews={`Basé sur plus de <span class="font-bold">12,8k</span> avis`}
    src={heroImage}
    alt="Image principale montrant une équipe travaillant ensemble sur un projet"
  />

  <FeaturesGeneral
    title="Développez votre activité en ligne"
    subTitle="Collaborez avec Dawn Web pour des sites web remarquables, du SEO et des stratégies marketing qui apportent des résultats."
    alt="Image des fonctionnalités de Dawn Web"
    features={features}
  />

  <FeaturesNavs
    title={`Des offres <span class="text-yellow-500 dark:text-yellow-400">Dawn Web</span> sur mesure pour répondre parfaitement aux besoins de votre entreprise.`}
    tabs={[
      {
        heading: "Développement Web",
        content:
          "Nous créons des sites web responsives adaptés aux besoins de votre entreprise.",
        svg: "tools",
        src: webdev,
        alt: "Engins de chantier jaunes et noirs sur un terrain herbeux brun",
        first: true,
      },
      {
        heading: "Logiciels & Applications sur mesure",
        content:
          "Des PMS hôteliers aux bornes de restaurant, nous développons des solutions logicielles qui répondent à de vrais défis métier.",
        svg: "dashboard",
        src: payments,
        alt: "Capture d'écran ou représentation graphique du tableau de bord intuitif",
        second: true,
      },
      {
        heading: "Fonctionnalités robustes",
        content:
          "Nous allons au-delà des sites web. Dawn Web intègre votre présence en ligne avec des outils et plateformes essentiels pour optimiser votre activité.",
        svg: "house",
        src: featuresjpg,
        alt: "Structure métallique grise près d'une grue de chantier en journée",
      },
    ]}
  />

  <TestimonialsSection
    title="Lancez votre entreprise en ligne"
    subTitle="Chez Dawn Web, nous assurons un démarrage en douceur grâce à une intégration et une configuration complètes. Découvrez la simplicité de construire votre présence en ligne avec notre accompagnement expert."
    testimonials={[
      {
        content:
          "Dawn Web a considérablement amélioré notre présence en ligne. Leur équipe a été incroyablement serviable et réactive, et les résultats sont phénoménaux. Un vrai changement pour notre entreprise !",
        author: "Sabrina D.",
        role: "Directrice des opérations | Labmid Inc.",
        avatarSrc:
          "https://images.unsplash.com/photo-1593104547489-5cfb3839a3b5?q=80&w=1453&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
      },
    ]}
    statistics={[
      {
        count: "221+",
        description: "Clients satisfaits des services de Dawn Web",
      },
      {
        count: "200%",
        description:
          "Réduction des coûts par rapport à l'achat de services individuels.",
      },
      {
        count: "75%",
        description: "Flux de travail plus efficace",
      },
      {
        count: "2x",
        description: "Mise sur le marché deux fois plus rapide",
      },
    ]}
  />

  <PricingSection pricing={pricing} />

  <FAQ title="Questions<br />fréquemment posées" faqs={faqs} />

  <HeroSectionAlt
    title="Commencez dès aujourd'hui"
    subTitle="Notre équipe est dédiée à vous aider à atteindre vos objectifs grâce à une présence en ligne puissante."
    url="/fr/contact"
  />
</MainLayout>
