---
// Define props from Astro
const { id, collapseId, question, answer, first } = Astro.props;
// Define TypeScript interface for props
interface Props {
  id: string;
  collapseId: string;
  question: string;
  answer: string;
  first?: boolean;
}
// Define class names for the accordion and its content
const ACCORDION_CLASS_DEFAULT = "pb-3";
const ACCORDION_CLASS_COLLAPSED = "pt-6 pb-3";
const ACCORDION_CONTENT_CLASS = "w-full overflow-hidden";
// Helper function to return the correct class for the accordion
function getAccordionClass(first: boolean = false) {
  return first ? ACCORDION_CLASS_DEFAULT : ACCORDION_CLASS_COLLAPSED;
}
---

<!-- The main container for the accordion item -->
<div class={getAccordionClass(first)} id={id}>
  <!-- The accordion button, which toggles the expanded/collapsed state -->
  <button
    class="group inline-flex w-full items-center justify-between gap-x-3 text-balance rounded-lg pb-3 text-start font-bold text-neutral-800 outline-none ring-zinc-500 transition hover:text-neutral-500 focus-visible:ring dark:text-neutral-200 dark:ring-zinc-200 dark:hover:text-neutral-400 dark:focus:outline-none md:text-lg"
    aria-controls={collapseId}
    aria-expanded={first ? "true" : "false"}
    data-accordion-toggle
  >
    {question}
    <span class="relative h-5 w-5 flex-shrink-0">
      <svg
        class={`${first ? "hidden " : ""}absolute inset-0 h-5 w-5 text-neutral-600 group-hover:text-neutral-500 dark:text-neutral-400`}
        data-accordion-open-icon
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path d="m6 9 6 6 6-6"></path>
      </svg>
      <svg
        class={`${first ? "" : "hidden "}absolute inset-0 h-5 w-5 text-neutral-600 group-hover:text-neutral-500 dark:text-neutral-400`}
        data-accordion-close-icon
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path d="m18 15-6-6-6 6"></path>
      </svg>
    </span>
  </button>
  <!-- The collapsible content of the accordion -->
  <div
    aria-labelledby={id}
    class={`${first ? ACCORDION_CONTENT_CLASS : "hidden " + ACCORDION_CONTENT_CLASS}`}
    id={collapseId}
    data-accordion-panel
  >
    <!-- The content paragraph -->
    <p class="text-pretty text-neutral-600 dark:text-neutral-400">
      {answer}
    </p>
  </div>
</div>
