---
import { Icons } from "./icons.ts";

interface Path {
  d: string;
  class?: string;
}

interface Props {
  name: string;
  class?: string;
}

interface IconDefinition {
  paths?: Path[];
  class?: string;
  height?: number;
  width?: number;
  viewBox?: string;
  fill?: string;
  clipRule?: "inherit" | "evenodd" | "nonzero";
  fillRule?: "inherit" | "evenodd" | "nonzero";
  stroke?: string;
  strokeWidth?: string | number;
  strokeLinecap?: "round" | "butt" | "square" | "inherit";
  strokeLinejoin?: "round" | "bevel" | "miter" | "inherit";
  title?: string;
}

const { name, class: className } = Astro.props;
const icon = (Icons as unknown as Record<string, IconDefinition>)[name];

const paths: Path[] = icon?.paths || [];
---

{
  icon ? (
    <svg
      class={className ?? icon.class}
      height={icon.height}
      viewBox={icon.viewBox}
      width={icon.width}
      fill={icon.fill}
      clip-rule={icon.clipRule}
      fill-rule={icon.fillRule}
      stroke={icon.stroke}
      stroke-width={icon.strokeWidth}
      stroke-linecap={icon.strokeLinecap}
      stroke-linejoin={icon.strokeLinejoin}
    ><title>{icon.title}</title>
      {paths.map((path: Path) => (
        <path d={path.d} class={path.class || ""} />
      ))}
    </svg>
  ) : (
    "Icon not found"
  )
}
